@page
@model ProductsModel

@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@* <div class="text-center"> *@
@*     <h2 class="display-4">Product Name: @Model.Name</h2> *@
@* </div> *@

@* <form method="post" asp-page="@nameof(Products)"> *@
@* *@
@*     <div class="form-group py-2"> *@
@*         <label asp-for="Name"></label> *@
@*         <input asp-for="Name" class="form-control" placeholder="Enter product name" autocomplete="off"/> *@
@*     </div> *@
@* *@
@*     <button type="submit" class="btn btn-primary">Submit</button> *@
@* </form> *@
